@{
    ViewBag.Title = "Rest Test";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div id="userTableOutput">
</div>

<div id="userEditOutput">
</div>

<script id="userTable" type="text/html">
    <table>
        <thead>
            <th>Name</th>
            <th>Age</th>
        </thead>
        <tbody>
            {{#each user}}
            <tr data-id="{{Id}}">
                <td>{{Name}}</td>
                <td>{{Age}}</td>
                <td>
                    <button class="editUser">Edit</button>
                    <button class="deleteUser">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>

<script id="userEdit" type="text/html">
    <hr />
    <form>
        <input type="hidden" name="id" value="{{Id}}" id="id"/>
        <label for="name">Name:</label>
        <input type="text" name="Name" id="name" required value="{{Name}}" />
        <label for="length">Age</label>
        <input type="number" name="Age" value="{{Age}}" min="0" max="200" id="age" />
        <input type="button" id="saveUser" value="Submit"/>
    </form>
</script>


@section scripts{

    @*<script src="~/Scripts/jquery-2.1.1.intellisense.js"></script>*@
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/handlebars.js"></script>
    <script src="~/Scripts/Home/Index.js"></script>
}